name: Compilar LaTeX
on: [push]

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Compilar
        uses: xu-cheng/latex-action@v3
        with:
          root_file: main.tex

      - name: Organizar Arquivo
        run: |
          mkdir -p publish
          cp main.pdf publish/

      - name: Deploy para GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./publish  # Isso garante que o PDF fique na raiz do site
          force_orphan: true
